


.login{
    width: 50%;
    margin:  auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.login form{
    padding: 40px;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
}

.login form .common{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.login form .common label{
font-weight: 700;
width: 100%;
}


.login form .common input{
 padding: 8px;
 border-radius: 8px;
}

.submit-btn{
  width: 100%;
}

.submit-btn button{
    margin: 0 auto;
    background-color: purple;
    padding: 10px;
    border: none;
    color: whitesmoke;
   
    display: flex;
    align-items: center;
    justify-content: center;
}