.navbar {
    background-color: whitesmoke;
    padding: 10px;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.navbar ul li{
  font-weight: 700;
  color: rgb(91, 3, 91);
  list-style: none;
}

.navbar ul li a{
  text-decoration: none;
}

.login-btn{
  background-color: rgb(57, 54, 54);
  color: whitesmoke;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.logout-btn{
  background-color: rgb(206, 164, 25);
  color: whitesmoke;
  padding: 10px;
  border: none;
  cursor: pointer;
}